* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    background: hsl(257, 40%, 49%) url('./images/bg-desktop.svg') no-repeat center/cover;
}

.container {
    max-width: 100%;
    max-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header, main {
    padding: 4rem 5rem;
}

main {
    display: flex;
}

.text {
    padding: 3rem;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p {
    line-height: 1.8;
    margin-bottom: 2rem;
}

button {
    cursor: pointer;
    background-color: white;
    color:  hsl(257, 40%, 49%);
    padding: 1rem 4rem;
    outline: none;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
    border-radius: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

footer {
    padding: 0 8rem 1rem;
}

.social {
    text-align: right;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

i {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: .8rem;
}

@media (max-width: 1350px){
    main {
        flex-direction: column;
    }
}

@media (max-width: 500px){

    body {
        background: hsl(257, 40%, 49%) url('./images/bg-mobile.svg') no-repeat top;
    }

    .logo {
        width: 8rem;
        height: 2rem;
    }

    header, main {
        padding: 2rem;
    }

    .text {
        text-align: center;
        padding: 4rem 0;
    }

    h1 {
        font-size: 1.6rem;
    }

    button {
        padding: 1rem 6rem;
    }

    footer {
        padding: 0 2rem 2rem;
    }

    .social {
        text-align: center;
    }
}




